

<div class="container">
<div class="card">
  <div class="card-header">
    Dr Ace Reddy  
    <button>Change Doctor</button>
  </div>
  <div class="card-body">
    
<div class="main-container">
  <div class="row">
    <div class="col-md-5">
      <label for="inputEmail4">Reason for visit:</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="">
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4">
      <label for="inputEmail4">Additional Comments:</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="">
    </div>
  </div>
  <br>
  
    <div class= "row mx-auto" style="border: aliceblue;">
      <div class="col-md-5">
        <!-- <h6>Book Appointments</h6> -->
        <article class="calendar-wrapper">
          <igx-calendar [weekStart]="1" (selected)= "changeDate($event)"></igx-calendar>
        </article>
      </div>
    <div class="col-md-1"></div>

        <div class="col-md-4">
  
     <h6> Select Slots</h6>     
    <table class="table table-borderless">
      

      <tbody>
        <tr *ngFor= "let item of timeSlot">
          <td> <button class="col btn btn-light-moon">{{item?.slot_A}}</button></td>
          <td> <button class="col btn btn-danger">{{item?.slot_B}}</button></td>
          <td> <button class="col btn btn-secondary" disabled>{{item?.slot_C}}</button></td>
        
        </tr>
       
      </tbody>

    </table>

    <div><div class='box green'></div>&nbsp;Available Appointments</div>
<br>
<div><div class='box red'></div>&nbsp; Booked Appointments</div>
<br>
<div><div class='box grey'></div>&nbsp;Not Available</div>
<button type="submit" class="btn btn-primary" style="float: right;">Book Appointment</button>

    <!-- <div>
      <b>Reason for visit:</b> <input type="text">
      <b>Additional comments:</b><input type="text">
      <button class="primary">Book Appointment</button>
    </div> -->
  
    </div>

  <!-- <div class="col-md-4">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="inputEmail4">Reason for visit:</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
       
      </div>
      <div class="form-row">
      
        <div class="form-group">
          <label for="inputPassword4">Additional Comments:</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      </form>
    </div> -->
</div>
  <div>
  </div>

 

  

     
  </div>
  </div>
</div>
</div>