<div class="container">
  <div class="card">
    <div class="card-header">
      <b> Dr {{doc_full_Name}}: </b>
      <!-- <a href="#" class="link-dark" (click)= "router.navigate(['/pages/appointments/search'])">Change <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
    </svg></a> -->
      <button (click)="router.navigate(['/pages/appointments/search'])"><svg xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>&nbsp;Change </button>

    </div>
    <div class="card-body" *ngIf="!isBooked">

      <div class="main-container" [formGroup]= "bookingForm">
        <div class="row">
          <div class="col-md-5"> 
            <label><b>Reason for visit:</b></label>
            <input type="text" formControlName="reason" class="form-control"placeholder="">
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-4">
            <label><b>Additional Comments:</b></label>
            <input type="text" formControlName="additional_comments" class="form-control"
              placeholder="">
          </div>
        </div>
        <br>

        <div class="row mx-auto" style="border: aliceblue;">
          <div class="col-md-5">
            <!-- <h6>Book Appointments</h6> -->
            <article class="calendar-wrapper">
              <igx-calendar [weekStart]="1" (selected)="changeDate($event)"></igx-calendar>
            </article>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-4">

            <h6> Select Slots</h6>
            <table class="table table-borderless">


              <tbody>
                <tr *ngFor="let item of timeSlot; let i = index">
                  <!-- {{i}} -->
                  <td> <button type="button"
                      [ngClass]="item.slot_A.isAvailable ? 'col btn btn btn-success' : 'col btn btn-danger'"
                      [disabled]="!item?.slot_A?.isAvailable"
                      (click)="selectSlot(item?.slot_A?.id,item?.slot_A?.value)">{{item?.slot_A?.value}}</button></td>
                  <td> <button [ngClass]="item.slot_B.isAvailable ? 'col btn btn btn-success' : 'col btn btn-danger'"
                      [disabled]="!item?.slot_B?.isAvailable"
                      (click)="selectSlot(item?.slot_B?.id,item?.slot_B?.value)">{{item?.slot_B?.value}}</button></td>
                  <td> <button [ngClass]="item.slot_C.isAvailable ? 'col btn btn btn-success' : 'col btn btn-danger'"
                      [disabled]="!item?.slot_C?.isAvailable"
                      (click)="selectSlot(item?.slot_C?.id,item?.slot_C?.value)">{{item?.slot_C?.value}}</button></td>

                </tr>

              </tbody>

            </table>

            <div>
              <div class='box green'></div>&nbsp;Available Appointments
            </div>
            <br>
            <div>
              <div class='box red'></div>&nbsp; Booked Appointments
            </div>
            <br>
            <div>
              <div class='box grey'></div>&nbsp;Not Available
            </div>
            <button type="submit" class="btn btn-primary" (click)="bookAppointment()" style="float: right;">Book
              Appointment</button>

            <!-- <div>
      <b>Reason for visit:</b> <input type="text">
      <b>Additional comments:</b><input type="text">
      <button class="primary">Book Appointment</button>
    </div> -->

          </div>

          <!-- <div class="col-md-4">
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="inputEmail4">Reason for visit:</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
       
      </div>
      <div class="form-row">
      
        <div class="form-group">
          <label for="inputPassword4">Additional Comments:</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      </form>
    </div> -->
        </div>
        <div>
        </div>






      </div>
    </div>
  </div>
  <div *ngIf="isBooked">
    <div class="jumbotron text-center" style="flex:1 1 auto;">
      <h1 class="display-3">Thank You!</h1>
      <p class="lead"><strong>Please check your email</strong> for further details regarding appointments</p>
      <hr>
      <p>
        Want to Book another? <a href="" (click)="isBooked = !isBooked">Book Now</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-sm"
          (click)="router.navigate(['/pages/appointments/search']);isBooked = false">Continue to homepage</a>
      </p>
    </div>
  </div>
</div>