
   

<div class="main-container" style="overflow-y: scroll;">
    <div class= "row mx-auto" style="border: aliceblue;">
      <div class="col-md-4">
        <h6>Book Appointments</h6>
        <article class="calendar-wrapper">
          <igx-calendar [weekStart]="1"></igx-calendar>
        </article>
      </div>
        <div class="col-md-4">
  
     <h6> Available Slots</h6>     
    <table class="table table-bordered">
      <thead>
        <tr>
          
        </tr>
      </thead>
      


      <tbody>
        <tr>
          
          <td>10:00 AM</td>
          <td>11:00 AM</td>
          <td>12:00 PM</td>
          <td>01:00 PM</td>
  
        </tr>
        <tr>
          <td>02:00 PM</td>
          <td>03:00 PM</td>
          <td>04:00 PM</td>
          <td>05:00 PM</td>
  
        </tr>
        <tr>
          <td>06:00 PM</td>
          <td>07:00 PM</td>
          <td>08:00 PM</td>
          <td>09:00 PM</td>
  
        </tr>
      </tbody>
    </table>
    <div>
      <button>Book Appointment</button>
    </div>
  
  </div>

     
  </div>
  </div>
 