<div class="container mt-5">
  <br>
  <h2>All Appointments</h2>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="w-10"><b>#</b></th>
        <th scope="col" class="w-20"><b>Patient</b></th>
        <th scope="col" class="w-40"><b>Reason</b></th>
        <th scope="col" class="w-10"><b>Time</b></th>
        <th scope="col" class="w-10"><b>Status</b></th>

        <th scope="col" class="w-15"><b>Action</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appointmentList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item?.patient_name}}</td>
        <td>{{item?.reason}}</td>
        <td>{{item?.appointment_date | date: 'mediumDate'}} {{" "+item?.slot}}</td>
        <td>{{item?.isCancelled ? 'Cancelled' : 'Due'}}</td>
        <td *ngIf="!item?.isCancelled"><Button class="btn btn-danger btn-sm" (click)="cancelAppointment(i)"> Cancel
          </Button></td>
        <td *ngIf="item?.isCancelled"><Button class="btn btn-secondary btn-sm" disabled> Cancelled </Button></td>


      </tr>

      <tr>

        <td colspan="5" style="text-align: center;" *ngIf="!appointmentList?.length">No Appointments</td>
      </tr>
    </tbody>

  </table>
</div>