<div class="container mt-5">
  <h2>All Appointments</h2>
  <br>
  <ngx-spinner size="large" type= 'ball-beat'></ngx-spinner>



  <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button> -->

<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body">
      Are you sure, you want to Cancel the Appointment?
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="cancelAppointment(true)">Yes</button> &nbsp;
      <button type="button" class="btn btn-danger" (click)="cancelAppointment(false)">No</button>

   </div>
</ng-template>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="w-10"><b>#</b></th>
        <th scope="col" class="w-20"><b>Patient</b></th>
        <th scope="col" class="w-40"><b>Reason</b></th>
        <th scope="col" class="w-10"><b>Time</b></th>
        <th scope="col" class="w-10"><b>Status</b></th>

        <th scope="col" class="w-15"><b>Action</b></th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let item of appointmentList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{item?.patient_name}}</td>
        <td>{{item?.reason}}</td>
        <td>{{item?.appointment_date | date: 'mediumDate'}} {{" "+item?.slot}}</td>
        <td>{{item?.isCancelled ? 'Cancelled' : (item?.appointment_date > today ? 'Due': 'Expired')}}</td>
        <td *ngIf="!item?.isCancelled"><Button class="btn btn-danger btn-sm" [disabled]="item?.appointment_date < today" (click)="openModal(template);cancel(i);"> Cancel
          </Button></td>
        <td *ngIf= "item?.isCancelled"><Button class="btn btn-secondary btn-sm" disabled> Cancelled </Button></td>


      </tr>

      <tr>

        <td colspan="5" style="text-align: center;" *ngIf="!appointmentList?.length">No Appointments</td>
      </tr>
    </tbody>

  </table>
</div>