<div class="container mt-5">
    <h2>All Appointments</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="w-10"><b>#</b></th>
        <th scope="col" class="w-20"><b>Patient</b></th>
        <th scope="col" class="w-50"><b>Reason</b></th>
        <th scope="col" class="w-10"><b>Time</b></th>
        <th scope="col" class="w-10"><b>Action</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>23-09-2022 09:00 AM</td>
        <td><Button>Cancel</Button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>23-09-2022 09:00 AM</td>
        <td><Button>Cancel</Button></td>

      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td colspan="5" style="text-align: center;" >No Appointments</td>
      </tr>
    </tbody>
    
  </table>
</div>