
<div class="container justify-content-center">
    <div class="row" style="height: 330px;
    margin-top: -117px">

        <div class="col-md-8">
            <h4>Search Doctors</h4>
            <div class="input-group mb-3">
         

                 <!-- <input type="text" class="form-control input-text" placeholder="Search Doctors" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
                 <ngx-autocomplete class="form-control input-text" [searchKeyword]="'full_name'" 
                 style="border: none;"
                 [inputId]="'searchEmployee'" 
                 [placeholderValue]="''" 
                 [entries]= "allDocList" 
                 (selectedValue)= "selectEvent($event)">
             </ngx-autocomplete>
                <div class="input-group-append"> <button class="btn btn-outline-warning btn-lg" type="button" (click)= "navigateBooking()"><i class="fa fa-search"></i></button> </div>
            </div>
        </div>
    </div>


